@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "BriemScript";
    src: local("BriemScript"),
     url("./Fonts/BriemScript.otf") format("truetype");
   }

@font-face {
    font-family: "Gotu";
    src: local("Gotu"),
     url("./Fonts/Gotu.ttf") format("truetype");
   }